table,
th,
tr {
  border: solid 4px gray;
  border-collapse: collapse;
}

table {
  width: 80vw;
  height: 50vh;
  margin: auto;
}

.semestre1,
.semestre2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

th {
  height: 10vw;
  width: 20vw;
}
@keyframes fadeScale {
  from {
    opacity: 0;
    transform: scale(0.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.materia {
  animation: fadeScale 1s;
  width: 10vw;
  height: 15vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  text-align: center;
  border: solid 2px black;
  cursor: pointer;
}
.materia:hover {
  box-shadow: 5px 2px 20px rgba(36, 36, 36, 0.616);
}
.info {
  animation: fadeScale 1.8s;
  position: relative;
  width: 23vw;
  height: 40vh;
  bottom: 24vh;
  margin-left: 10vw;
  font-size: 1vw;
  overflow-y: auto;
  text-align: justify;
  display: none;
  z-index: 999;
  box-shadow: 5px 2px 15px rgba(36, 36, 36, 0.616);
}

.info > p {
  margin-top: 2vh;
  margin-left: 1vw;
}

.info > ul {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  margin-left: 2vw;
}

.materia > p {
  margin-top: 6vh;
}
