table,
th,
tr {
  border: solid 4px gray;
  border-collapse: collapse;
}

table {
  width: 95vw;
  height: 85vw;
  margin: 4rem auto;
}

.semestre1,
.semestre2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

th {
  height: 3vw;
  width: 15vw;
}
@keyframes fadeScale {
  from {
    opacity: 0;
    transform: scale(0.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.materia {
  animation: fadeScale 0.3s;
  width: 5rem;
  height: 3rem;
  font-size: clamp(1rem, 1vw, 2rem);
  margin-top: 1vh;
  margin-bottom: 1vh;
  text-align: center;
  border: solid 2px black;
  cursor: pointer;
  font-family:"Roboto", "sans-serif";

}
.materia:hover {
  box-shadow: 5px 2px 20px rgba(36, 36, 36, 0.616);
}
.info {
  animation: fadeScale 0.3s;
  position: relative;
  width: max-content;
  padding: 12px 15px;
  font-size: clamp(1rem, 1vw, 10rem);
  line-height: 1.2;
  overflow-y: auto;
  text-align: justify;
  display: none;
  z-index: 999;
  box-shadow: 5px 2px 15px rgba(36, 36, 36, 0.616);
  top: 1rem;
}

.info > h1 {
  font-size: clamp(1rem, 1vw, 10rem);
  font-weight: bolder;
}
.info > p {
  margin-top: 1vw;
  font-weight: lighter;
}

.info > ul {
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  margin-left: 2vw;
  font-weight: lighter;

}

.materia > p {
  margin-top: 2vw;
}

/* desktop */
@media (min-width: 760px) {
  table{
    height: 30vw;
    width: 80vw;
  }
  .materia {
    width: 10vw;
    height: 5vw;
  }
  .info {
    top: 2.3rem;
  }
  
}
