* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  background-color: #efefef;
  font: 400 1.8rem/1 "Roboto", "sans-serif";
  width: 100%;
  height: 100vh;
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
}

.logo {
  width: 100px;
}

nav {
  width: 100%;
  font: 200 clamp(1rem, 3vw, 2rem) / 1.1 "Roboto", sans-serif;
  padding: 10px;
 
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
 
  color: #072540;
  text-shadow: 2px 2px rgba(255, 255, 255, 0.103);
}

.seleciona-modo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.seleciona-modo > p {
  margin-right: 10px;
  font-weight: bolder;
  color: gray;
}

select {
  padding: 5px 20px 5px 20px;
  text-align: center;
  border-radius: 20px;
  outline: 0;
  box-shadow: 5px 2px 10px rgba(128, 128, 128, 0.616);
  cursor: pointer;
  transition: background 0.2s;
  border: 0;
}

select:hover {
  background: rgb(255, 249, 249);
}

footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 12px;
  background: #BBBBFF;
  font: 400 clamp(1rem, 3vw, 1.4rem) / 1.5 "Roboto", sans-serif;

}

footer a:visited, a {
  color: black;
}

/* desktop version */
@media (min-width: 760px) {
  nav {
    flex-direction: row;
  }

  nav .logo {
    margin-left: 20px;
  }

  nav .seleciona-modo {
    margin: initial;
    margin-right: 20px;
  }

  footer{
    top: 100%;
    bottom: initial;
    margin-top: 4rem;
  }
}